.principalMinoxidil{
    background: #004953;
    padding: 30px;
    border-color: #004952;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    margin: 50px;
}
.imgProd{
    margin: 10px;
    background: #004953;
}
.minox{
    height: 250px;
    width: 250px;
}
.btn{
	height: 3em;
    width: 7em;
    margin-top: 20px;
    color: black;
    font-family: 'Montserrat';
    background-color: #9FFCF3;
    border-radius: 10px;
    font-size: 110%;
    border-color: #004953;
	transition: 0.3s ease-in-out;
}

.btn:hover{
	height: 4em;
	width: 8em;
	transition: 0.3s ease;
}
.area_quantidade_produto{
    text-align: center;
    margin-top: 10px;
    color: white;
}