/*Css do produtos.html*/

.produtos{
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.prod{
	display: inline-block;
	text-align: center;
	width: auto;
	padding:50px 0; 
	vertical-align: top;
	align-items: center;
	border-radius: 10px;
	border: 2px solid #004952;
	margin: 1.5%;
	box-sizing: border-box;
	list-style: none;
	background-color: #004953;
}
.prod:hover{
	border-color: #FFB501;
	transition: 0.3s ease;
}
.prod:active{
	border-color: #FFB501;
	transition: 0.3s;
}
.btn{
	height: 3em;
    width: 7em;
    margin-top: 20px;
    color: black;
    font-family: 'Montserrat';
    background-color: #9FFCF3;
    border-radius: 10px;
    font-size: 110%;
    border-color: #004953;
	transition: 0.3s ease-in-out;
}

.btn:hover{
	height: 4em;
	width: 8em;
	transition: 0.3s ease;
}
.prod:hover h2{
	font-size: 33px;
}
.prod h2{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color:#9FFCF3;
	padding: 10px;
	transition: 0.3s ease-in-out;
}
span{
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.descricao{
	font-size: 18px;
	font-weight: bold;
	color:white;
	padding: 10px;
}
.preco{
	font-size: 22px;
	font-weight: bold;
	margin-top:  10px;
	transition: 0.3s ease;
	color: #FFB501;
}
.preco:hover{
	font-size: 27px;
}
.minoxidil{
	height: 400px;
	width: 400px;
}
